@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

body {
	background-color: #00001a;
	display: flex;
	flex-direction: column;
    height: 100%;
    min-height: 100vh;
	}
.cabecalho {
	width: 100%;
	background-color: #00001a;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.logo {
	width: 70%;
	background-color: #00001a;
}
.logo img{
	padding: 10px;
	background: #00001a;
}
.newsletter {
	width: 30%;
	background-color: #00001a;
}
.assinar {

}
.assine input {
	width: 70%;
	display: inline-block;
	margin: 7px;
	}

.assine button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25%;
	margin: 5px;
}
.btn-pagamentos {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 7px;
}
.bitcoin {
	width: 45%;
	display: flex;
	justify-content: center;
}
.bitcoin img {
	width: 100%;
}
.paypal {
	width: 45%;
	display:flex;
	justify-content: center;
}
.assine {
	display: flex;
	justify-content: center;
}
.menuHorizontal ul{
	margin: 0;
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.menuHorizontal li {	
	text-align: center;
	border: solid #bf80ff 2px;
	background: #00001a;
	width: 16%;
	}
	
#navegacaoPrimaria a{
	width: 100%;
	padding: 20px 0px;
	color: #bf80ff;
	font-weight: bolder;
	letter-spacing: 2px;
	font-family: 'Share Tech Mono', monospace;
	font-size: 18px;

	}

.menuHorizontal a{
	padding: 0 10px;
	text-decoration: none;
}

main {
	flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container.textoPrincipal {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    margin-bottom: 80px;
 	background: rgba(0, 10, 26, 0.6);
 	color: #d9d9d9;
	font-family: 'Exo 2', sans-serif;
 	font-size: 22px;
 	letter-spacing: 2px;
 	flex-grow: 1;
    align-items: center;
    padding: 10px 25px;
}
h2 {
	color: #ff3399;
	font-weight: bolder;
	font-family: 'Share Tech Mono', monospace;
	font-size: 45px;
	letter-spacing: 3px;
}
/*slider*/
.btn-primary {
	color: #ff3399;
	font-weight: bolder;
	font-family: 'Share Tech Mono', monospace;
	background:  #00001a;
	border: solid 3px #bf80ff;
}
.btn-default {
	color: #ff3399;
	font-family: 'Share Tech Mono', monospace;
	background:  #00001a;
	border: solid 3px #bf80ff;
}

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: -120;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
  top: 0
}

.videoFundo {
	background: #00001a;
	background: cover no-repeat center;
	width: 100vw;
	height: 100vh;
	padding-top: 0;
	display: flex;
	align-items: center;
}

.animated {
    animation-duration: 2s;
}	
/*slider*/
.carousel-inner {
    display: flex;
    justify-content: center;
}
.carousel-indicators .active{
	background-color: #6600cc;
}

.carousel-indicators li {
	border: 2px solid #ff3399;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
	color: #ff3399;
}
/*fim slider*/
/*inicio footer*/
footer {
	background: #00001a;
    position: fixed;
    justify-content: center;
   /* align-content: flex-end;*/
    bottom: 0;
    width: 100%;
    z-index: 10000000;
}
.social-media {
	width: 100%;
	display: flex;
    justify-content: center;
}
.social-media ul {
	width: 50%;
	padding: 10px;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	}
.social-media li {
	 display: flex;
	 justify-content: center;
	}
.social-media ul li {
	list-style: none;
	}
.social-media ul li a {
	color: red;
	text-decoration: none;
	}
	
.social-media ul li a:hover .fa {
	color: #ff00ff;
	text-decoration: none;
	}
.fa.fa-facebook {
		color: 	#3b5998;
	}
.fa.fa-twitter {
	color: #55acee;
}
.fa.fa-instagram {
	color: #cd486b;
}	
/*fim footer*/

/*formulario*/
.form-group label {
	display: inline-block;
	min-width: 110px;
	text-align: right;
}
.containerForm h1 {
	font-size: 45px;
	text-align: center;
	font-family: 'Share Tech Mono', monospace;
	color: #bf80ff;
	width: 100%;
	}

.form-group {
	margin-bottom: 7px;
	color: #d9d9d9;
	font-family: 'Exo 2', sans-serif;
}


.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #ddd;
}

.form-group input:valid,
.form-group textarea:valid {
 border: 4px solid #ff00ff;
}
.alinhamentoForm {
	margin: 0 auto;
	max-width: 100%;

}
input {
	width: 350px;
}
legend {
	color: #ff3399;
	font-family: 'Exo 2', sans-serif;
	font-size: 25px;
	font-weight: bolder;
	border-bottom: none !important;
	}
label {
	color: #ff3399;
	font-family: 'Exo 2', sans-serif;
	font-weight: bolder;
}
.form-group {
	color: #ff3399;
	font-family: 'Exo 2', sans-serif;
}

button {
border: solid 3px #bf80ff;
background: #00001a;
font-size: 19px;
padding: 6px;
margin-top: 10px;
display: flex;
color: #bf80ff;
}

fieldset {
	padding:8px;
	border: solid 3px #bf80ff;
	display: inline
}
.Contador {
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
}
span.spanContador {
	font-size: 26px;
	color: #bf80ff;
	width: 44%;
}
.containerForm {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.alinhamentoForm .form-group {
	display: flex;
}

.alinhamentoForm .form-group label {
	flex: 27% 0 0;
	margin-right: 7px;
}

.alinhamentoForm button {
	margin-top: 0;
}
/*modal*/
.alinhamentoModal {
	display: inline-flex;
	justify-content: space-around;
	width: 100%;
}
.modal-header{
	color: #ff3399;
}
.modal-body {
	color: #6600cc;
}




/*@media query*/

@media (max-width: 760px) {
.cabecalho {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.logo {
	width: 100%;
}
.logo img {
	width: 100%;
}
.newsletter{
width: 100%;
}
.paypal {
	width: 50%;
}
.bitcoin {
	width: 48%;
}
.menuHorizontal ul {
    margin: 0;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.menuHorizontal li {
    text-align: center;
    width: 30%;
    margin-bottom: 5px;
}
.alinhamentoModal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
}


@media (max-width: 480px) {
.menuHorizontal li {
    text-align: center;
    width: 75%;
    margin-bottom: 5px;
}

}

.carousel.slide {
	width: 100%;
}

.carousel video, .carousel img {
	width: 100%;
}
